apps/installed_apps.json
apps/steam_game_ids.json
contacts/contacten.vcf
contacts/contacts.json
credentials/
.env
.vscode/
*/__pycache__/
*/*/__pycache__/
selenium_whatsapp_session
.cache

#!flutter related
# Miscellaneous
front_end/*.class
front_end/*.log
front_end/*.pyc
front_end/*.swp
front_end/.DS_Store
front_end/.atom/
front_end/.build/
front_end/.buildlog/
front_end/.history
front_end/.svn/
front_end/.swiftpm/
front_end/migrate_working_dir/

# IntelliJ related
front_end/*.iml
front_end/*.ipr
front_end/*.iws
front_end/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
front_end/**/doc/api/
front_end/**/ios/Flutter/.last_build_id
front_end/.dart_tool/
front_end/.flutter-plugins
front_end/.flutter-plugins-dependencies
front_end/.pub-cache/
front_end/.pub/
front_end/build/

# Symbolication related
front_end/app.*.symbols

# Obfuscation related
front_end/app.*.map.json

# Android Studio will place build artifacts here
front_end/android/app/debug
front_end/android/app/profile
front_end/android/app/release
